
{% extends "./finanzas.html" %}
{% load static %}
{% load humanize %}
{% block tittle %}Gestión Proveedores{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/maquila.css' %}">
{% endblock %}
{% block body %}
<head>
    <!-- links para exportar a excel -->
    <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>
</head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            border-radius: 50px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #1257e0;
            color: #fff;
            text-align: center;
        }
        td {
            text-align: right;
        }
        td:first-child {
            text-align: left;
        }
        .header {
            text-align: left;
            margin-bottom: 20px;
        }
        .header div {
            margin: 5px 0;
        }
        .logo {
            float: right;
        }
    </style>
</head>
<body>
    <div align="center">
        <div style="width: 30%;">
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-dismissible alert-success" id="alert-message">
                        <strong class="text-dark">{{ message }}</strong>
                    </div>
                    <script>
                        setTimeout(function() {
                            document.getElementById('alert-message').style.display = 'none';
                        }, 5000); // Cierra el mensaje después de 5 segundos (5000 milisegundos)
                    </script>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
<div class="container" style="margin-left: block;">
    <div class="row">
        <div class="header">
            <div align="center"><strong><h1>{{prov.nombre}}</h1></strong></div>
            <div><strong>R.F.C.: </strong>{{prov.rfc}}</div>
            <div><strong>Banco: </strong>{{prov.banco}} </div> 
            <div><strong>Cuenta: </strong> {{prov.cuenta}}</div>
            <div><a href="{% url 'generar_reporte' empresa_id=prov.id %}">Informe</a></div>
            <button id="btnExportar" class="btn btn-success"><i class="fas fa-file-excel"></i> Exportar a Excel</button>


            <div align="right"><h3><strong>Saldo </strong><h5 style="color: #f00;">${{prov.saldo}}</h5></h3></div>
        </div>

        <table  style="border-radius: 15px;" id="tabla">
            <div align="right"><a href="/conta" style="color: #f08313;">Regresar</a></div>
            <div align="right"><a href="{% url 'verPagos' empresa_id=prov.id %}" style="color: #f08313;">verPagos</a></div>
            <thead>
                <tr>
                    <th>Facturas</th>
                    <th># De Factura</th>
                    <th>Folio Fiscal</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Dias Faltantes</th>
                    <th>Fecha de pago</th>
                    <th>Monto</th>
                    <th>IVA</th>
                    <th>Total</th>
                    <th>Opciones</th>
                
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles_con %}
                    <tr {% if detalle.registro.vencido is True and detalle.registro.en_pago is False %}style="background-color: #e02712bf; color: white;"{% endif %}>
                        <td style="text-align: right;">{{ detalle.registro.id }}</td>
                        <td>{{ detalle.registro.noFac }}</td>
                        <td>{{ detalle.registro.folioF }}</td>
                        <td>{{ detalle.registro.fecha|date:"d/m/Y" }}</td>
                        <td>{{ detalle.registro.concepto }}</td>
                        <td>{{ detalle.dias_faltantes }}</td>
                        <td>{{ detalle.fecha_pago|date:"d/m/Y" }}</td>
                        <td>${{ detalle.registro.monto |floatformat:2|intcomma }}</td>
                        <td>${{ detalle.registro.iva |floatformat:2|intcomma }}</td>
                        <td>${{ detalle.registro.total |floatformat:2|intcomma }}</td>
                        <td><a href="{% url 'eliminarFactura' factura_id=detalle.registro.id %}" class="btnEliminacionMaquila" style="color: #f00;">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
<script>
    const $btnExportar = document.querySelector("#btnExportar"),
        $tabla = document.querySelector("#tabla");

    $btnExportar.addEventListener("click", function() {
        const currentDate = new Date();
        const day = String(currentDate.getDate()).padStart(2, '0');
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const year = currentDate.getFullYear();

        let tableExport = new TableExport($tabla, {
            exportButtons: false, // No queremos botones
            filename: `Informe ${day}-${month}-${year}`, // Nombre del archivo de Excel con la fecha actual en formato dd-mm-aaaa
            sheetname: 'Informe de proveedor', // Título de la hoja
        });

        let datos = tableExport.getExportData();
        let preferenciasDocumento = datos.tabla.xlsx;
        tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
    });
</script>
{% endblock %}
